<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'Styles/Diseño_RO_85.css' %}">
</head>
<body>
 <div class="container">
    <div class="container-text">
        <p><img src="../static/Img/14.jpg" alt="img"> Un ejemplo de uno de nuestros increibles productos donde claramente podemos ver blah blah</p>
    </div>
    <div class="container-form">
        <h1>Registrarse</h1>
        <form action="#">
            <label for="nombre">Nombre:</label>
            <input type="text"  id="nombre" name="nombre" autofocus placeholder="Ingrese su nombre completo">
            <br><span id="mensaje1"></span><br>
            <label for="correo">Correo electrónico:</label>
            <input type="email" id="correo" name="correo" placeholder="Ingrese su correo electrónico">
            <br><span id="mensaje2"></span><br>
            <label for="usuario">Usuario:</label>
            <input type="text"  id="usuario" name="usuario" placeholder="Ingrese su nombre de usuario">
            <br><span id="mensaje3"></span><br>
            <label for="contrasena">Contraseña:</label>
            <input type="password"  id="contrasena" name="contrasena" placeholder="Ingrese su contraseña">
            <br><span id="mensaje4"></span><br>
            <label for="confirmar_contrasena">Confirmar contraseña:</label>
            <input type="password" id="confirmar_contrasena" name="confirmar_contrasena" placeholder="Confirme su contraseña">
            <br><span id="mensaje5"></span><br>
            <button type="button" class="btn btn-primary" onclick="validacionReg()">Registrarse</button>
        </form>
        <script src="{% static 'JS/Main_RO_85.js' %}"></script>
    </div>
 </div>
</body>
</html>