{% load static %}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Perfil - Febati85</title>
    <link rel="stylesheet" href="{% static 'Styles/Diseño_UR_85.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="Main_PL_85.js"></script>
</head>
<body> 

    <!--Estructura para el videito de fondo-->
    <video autoplay muted loop id="background-video">
        <source src="Archivos_codigo_UR_85/Fondote.mp4" type="video/mp4">
    </video>
    <!------------------------------------------------------------------>
<!---------------------------------------BARRA DE TAREAS FEBATI------------------------------------>
<header class="d-flex justify-content-between align-items-center">
    <div id="MENU">
        <img style="color: #ffffff;"  src="user.jpg" alt="Foto del usuario">
        <a href="../User_85/Estrucura_UR_85.html" type="button" class="btn btn-outline-light">Usuario</a>
    </div>
    
    <!---------------------------------PANEL donde va el clasico nav------------------------------->
    <nav id="PANEL"> 
        <ul>
            <li><a href="../Principal_85/Estructura_PL_85.html">INICIO</a></li>
            <li><a href="../Ayuda_85/Estructura_AA_85.html">AYUDA</a></li>
            <li><a href="../Soporte_85/Estructura_SE_85.html">SERVICIO AL CLIENTE</a></li>
            <li><a href="../CambioD_85/Estructura_CD_85.html">COMENTARIOS</a></li>
        </ul>
    </nav>
    <!--------------------------------------------------------------------------------------------->
<!------------------------------------------------------------------------------------------------->

    <a href="../Carrito_85/Estructura_CO_85.html"><button type="button" class="btn btn-outline-light">🛒</button></a>
</header>   
<!--------------------------PAGINA BASE--------------------------------------------------------------->





<h8>AQUI HIRA INFORMACION DEL USUARIO CUANDO EXISTA</h8>







<!-------------------------------PAGINA BASE-------------------------------------------------------->
<div id="CERTIFICADET">
    <p>&copy; 2024 Certificado por la corporación FocasAesthetics</p>
</div>

<!-- Bootstrap JS y dependencias -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
