header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a235a; /* Fondo púrpura más oscuro */
    color: #4a235a; /* Texto blanco */
    padding: 20px;
    box-shadow: 0 4px 6px #0000001a; /* Sombra en el encabezado */
}
body{
    background-color: #be99d6;;
}
button {
    padding: 10px 20px;
    background-color: #4a235a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%; /* Ancho del botón */
    margin: auto; /* Centrar horizontalmente */
    display: block; /* Asegurar que el botón ocupe toda la anchura disponible */
    box-shadow: 0 4px 6px #0000001a; /* Sombra en las secciones */
    border-radius: 10px; /* Bordes redondeados en las secciones */
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}  

nav ul li a {
    color: #fff; /* Texto blanco */
    text-decoration: none;
}
#PANEL a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: #ffffff; /* Color del texto */
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}
#PANEL a:hover {
    background-color: #ddd; /* Cambia el color de fondo al pasar el ratón */
    color: #666; /* Cambia el color del texto al pasar el ratón */
}



#MENU {
    display: flex;
    align-items: center;
}

#MENU img {
    width: 50px;
    height: 50px;
    position:static;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 2px 4px #ffffff; /* Sombra en la imagen del perfil */
}
button:hover {
    background-color: #0056b3;
}

#userDetails {
    margin-top: 20px;
    text-align: left;
}
.user {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Ajusta el margen entre los usuarios */
    border: 1px solid #230a0a; /* Borde de 1px sólido de color gris claro */
    padding: 10px; /* Espacio interno alrededor del contenido */
    box-shadow: 0 4px 6px #0000001a; /* Sombra en las secciones */
    border-radius: 10px; /* Bordes redondeados en las secciones */
}

.user img {
    margin-right: 10px; /* Ajusta el margen entre la imagen y el texto */
}

.user-info {
    display: inline; /* Asegura que el texto esté en línea con la imagen */
}

#PANEL a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: #ffffff; /* Color del texto */
    padding: 5px 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}
#PANEL a:hover {
    background-color: #ddd; /* Cambia el color de fondo al pasar el ratón */
    color: #666; /* Cambia el color del texto al pasar el ratón */
}
#PRESENTEICHON {
    background-color: #f0e5f7; /* Fondo blanco con toque de púrpura */
    color: #000; /* Texto negro */
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px #0000001a; /* Sombra en las secciones */
    border-radius: 10px; /* Bordes redondeados en las secciones */
    margin: 20px; /* Espacio alrededor de las secciones */
}
.comentarios-lista .user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.comentarios-lista .user img {
    border-radius: 50%;
    margin-right: 20px;
}

.comentarios-lista .user-info {
    display: flex;
    flex-direction: column;
}
textarea {
    font-size: 16px; /* Tamaño de fuente */
    width: 95%; /* Ancho del textarea */
    height: 100px; /* Altura del textarea */
    background: transparent; /* Fondo transparente */
    border: 1px solid #ccc; /* Borde del textarea */
    padding: 10px; /* Espacio interno */
    resize: vertical; /* Permitir redimensionamiento vertical */
}